:root {
    --background: #495057;
    --text: #adb5bd;
    --text1: #66cdaa;
}
/* * {
    margin: 0;
    top: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
} */
#footer {
    display: block;
    padding: 1rem;
    color: var(--text);
    background-color: var(--background);
}
#footer .footer_logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo_btn h2 {
    color: #d2b7e5;
    font-size: 2rem;
}
.logo_btn h2 img {
    width: 14rem;
}

.store-flex {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.store-flex span {
    position: relative;
    font-size: 1rem;
    margin-left: 30rem;
    /* margin-bottom: 10rem; */
    white-space: nowrap;
}

#footer .footer-left {
    font-size: 2.5rem;
}
#footer .footer-grid {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 1rem;
}
#footer .app-btn {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .app-btn img {
    margin-bottom: 0;
} */
.app-btn .google {
    width: 10rem;
    margin-left: 2rem;
}
.app-btn .apple {
    width: 8rem;
    margin-left: 7;
}
.google .apple {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*#footer .footer-left .store {
    font-size: 1.125rem;
    max-width: 28rem;
}*/
/*#footer .store .store-btn {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
}*/
#footer .footer-grid1 {
    display: grid;
    /* grid-template-columns: 30% 20% 20% 20%; */
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 0.2rem;
}
.company {
    font-size: 1.2rem;
    padding: 0px 2rem;
    line-height: 2rem;
}
.company h3 {
    color: #fff;
    text-align: left;
}
.company a {
    color: var(--text);
}
.company a:hover {
    color: var(--text1);
}

.support {
    font-size: 1.2rem;
    padding: 0px 2rem;
    line-height: 2rem;
}
.support h3 {
    color: #fff;
}
.support a {
    color: var(--text);
}
.support a:hover {
    color: var(--text1);
}

.partener {
    font-size: 1.2rem;
    padding: 0px 2rem;
    line-height: 2rem;
}
.partener h3 {
    color: #fff;
    width: max-content;
}
.partener a {
    color: var(--text);
}
.partener a:hover {
    color: var(--text1);
}

.legal {
    font-size: 1.2rem;
    padding: 0px 2rem;
    line-height: 2rem;
}
.legal h3 {
    color: #fff;
}
.legal a {
    color: var(--text);
}
.legal a:hover {
    color: var(--text1);
}

.social-media {
    padding: 2rem;
    font-size: 1.5rem;
}
.social-media a {
    padding: 1rem;
    color: #fff;
}
.social-media a:hover {
    color: var(--text1);
}

.footer-right {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.newsletter form {
    font-size: 1.2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.newsletter p {
    font-size: 1.2rem;
    text-align: center;
    /* margin-right: 4rem; */
}

.newsletter form input {
    padding-left: 0.2rem;
    font-size: 1rem;
    color: var(--text1);
    width: 10rem;
    height: 2rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--text1);
}
.newsletter form a {
    font-size: 1rem;
    color: var(--text);
    background: var(--background);
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0.2rem;

    border-radius: 0.5rem;
    border: 0.1rem solid var(--text1);
}
.newsletter form a:hover {
    background-color: var(--text1);
    color: var(--background);
}
footer a {
    text-align: center;
    text-decoration: none;
    width: max-content;
}
footer li {
    text-align: center;
    text-decoration: none;
    width: max-content;
    list-style: none;
    font-size: 1rem;
}

.check {
    margin-bottom: 25rem;
}

#footer .footer-right .reviews p {
    margin: 0.725rem 0;
}

#footer .footer-right .reviews .star {
    color: goldenrod;
}
.reviews {
    margin-bottom: rem;
}

#footer .copyright p {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

#footer .copyright hr {
    width: 50%;
    margin: auto !important;
    border: 1px solid rgb(122, 117, 117);
    /*margin: 2rem auto 1rem;*/
}

/* @media screen and (max-width: 1125px) {
    #footer .footer-grid .footer-grid1 {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
} */
/* @media screen and (max-width: 850px) {
    #footer .footer-grid .footer-grid1 {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }
} */
@media screen and (max-width: 770px) {
    #footer .footer-grid .footer-grid1 {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }
}
@media screen and (max-width: 1300px) {
    #footer .footer-grid {
        grid-template-columns: minmax(0px, 1fr);
    }
}
